services:

  traefik:
    image: "traefik:v2.10"
    container_name: "traefik"
    restart: always
    command:
      - "--api.dashboard=true"
      - "--log.level=DEBUG"
      - "--log.filepath=/var/log/traefik.log"
      - "--accesslog.filepath=/var/log/traefik-access.log"
      - "--accesslog=true"
      - "--providers.docker=true"
      - "--providers.docker.network=web"
      - "--providers.docker.exposedbydefault=false"
      - "--entrypoints.http.address=:80"
      - "--entrypoints.http.http.redirections.entrypoint.to=https"
      - "--entrypoints.http.http.redirections.entrypoint.scheme=https"
      - "--entrypoints.https.address=:443"
      - "--entrypoints.https.http.tls.certresolver=myresolver"
      - "--certificatesresolvers.myresolver.acme.tlschallenge=true"
      #      - "--certificatesresolvers.myresolver.acme.caserver=https://acme-staging-v02.api.letsencrypt.org/directory"
      - "--certificatesresolvers.myresolver.acme.email=psalg-dev@proton.me"
      - "--certificatesresolvers.myresolver.acme.storage=/letsencrypt/acme.json"
    ports:
      - "443:443"
      - "80:80"
    volumes:
      - "/mnt/volume_fra1_01/log:/var/log"
      - "./letsencrypt:/letsencrypt"
      - "/var/run/docker.sock:/var/run/docker.sock:ro"
    labels:
      - traefik.enable=true
      - traefik.http.routers.dashboard.rule=Host(`tfk.helmify.me`)
      - traefik.http.routers.dashboard.service=api@internal
      - traefik.http.routers.dashboard.middlewares=myauth
      - traefik.http.middlewares.myauth.basicauth.users=admin:$$2y$$05$$SSbOnlsTNOKAgKgsN.KvkeGUgdSVq/6Oknishx41WGAzH9GMbdxh2
    networks:
      - web

  initializr:
    image: helmify/spring-initializr:latest
    container_name: spring-initializr
    restart: always
    expose:
      - 8080
    networks:
      - web
    labels:
      - traefik.http.routers.start-spring-helmify.rule=Host(`spring.helmify.me`)
      - traefik.http.routers.start-spring-helmify.entrypoints=https
      - traefik.http.routers.start-spring-helmify.tls.certresolver=myresolver
      - traefik.enable=true

  helmify-dev:
    image: helmify/helmify:latest
    container_name: helmify-dev
    restart: always
    environment:
      SPRING_PROFILES_ACTIVE: "prod"
      SERVER_PORT: 7080
      TZ: "Europe/Berlin"
    expose:
      - 7080
    networks:
      - web
    labels:
      - traefik.http.routers.dev-helmify.rule=Host(`dev.helmify.me`)
      - traefik.http.routers.dev-helmify.entrypoints=https
      - traefik.http.routers.dev-helmify.tls.certresolver=myresolver
      - traefik.enable=true
    volumes:
      - type: bind
        source: /mnt/volume_fra1_01/helmify-data/
        target: /workspace/helmify-data


  helmify:
    image: helmify/helmify:prod
    container_name: helmify
    restart: always
    environment:
      SPRING_PROFILES_ACTIVE: "prod"
      SERVER_PORT: 7070
      TZ: "Europe/Berlin"
    expose:
      - 7070
    networks:
      - web
    labels:
      - traefik.http.routers.helmify.rule=Host(`helmify.me`)
      - traefik.http.routers.helmify.entrypoints=https
      - traefik.http.routers.helmify.tls.certresolver=myresolver
      - traefik.enable=true
    volumes:
      - type: bind
        source: /mnt/volume_fra1_01/helmify-data/
        target: /workspace/helmify-data
      - type: bind
        source: /mnt/volume_fra1_01/helm-start-data/
        target: /workspace/helm-start-data

networks:
  web:
    external: true
