<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Helm Start: Generate Helmchart for your App</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" href="https://unpkg.com/chota">
    <script src="/components/navbar.js"></script>
    <script type="text/javascript" th:src="@{/webjars/htmx.org/dist/htmx.min.js}"></script>
    <link rel="stylesheet" href="/main.css"/>

</head>

<body>
<div class="row">
    <navbar-component class="col-12"></navbar-component>
</div>
<div class="row">
    <div class="col-12" >
        <h3>Why</h3>
        <h5>So you can <i>start</i> on integration</h5>
        Many developers across organizations today write applications which run on Kubernetes <i>[citation needed]</i>.
        <br/>
        While <i>helm create</i> certainly provides a good starting point for a Helm Chart, it is blind to the context
        in which it is being called. That is, it cannot take application-specific needs into consideration. <br/>
        <br/>
        This app aims to change that.
        <br/>
        <br/>
        The goal of this app, ultimately, is to enable <i>you</i> as a developer to easily provide a Helm Chart for
        an artifact you may be responsible for without having to do too much of a deep dive into Helm.<br/>
        This may look like this:
        <pre>
        $ // build docker image of your app
        $ // upload pom to start-helm.com
        $ // enter docker image repository
        $ // download helm chart
        $ unzip helm.zip && cd helm && helm dependency update &&  helm install my-app -f ./values.yaml -f ./Chart.yaml .
    </pre>
        <h3>How</h3>
        This app takes into consideration the dependency list of an application which should be deployable through
        a Helm Chart. This takes care of things like:
        <ul>
            <li>Pulling in Helm Charts of infrastructure dependencies like databases, message brokers etc</li>
            <li>Customizing a raw Helm Chart towards application specific needs such as
                <ul>
                    <li>Configurations (so you have full control over the configuration your app uses at runtime)</li>
                    <li>Credentials/Secrets (so your app can connect to its infrastructure at runtime)</li>
                    <li>Setting up an Ingress for your app (so you can connect to it from outside your cluster)</li>
                </ul>
            </li>
            <li>Allowing a user to provide further customization options before the chart gets generated</li>
        </ul>
        <h3>Code</h3>
        The code for this app is available on <a href="https://github.com/helmify/helmify">Github</a>.
        <br/>
        The stack used:
        <ul>
            <li>Spring Boot</li>
            <li>Thymeleaf</li>
            <li>Chota CSS</li>
            <li>htmx</li>
        </ul>
        Should you take a look at the code: <br/>
        Note that Helm Template Files and snakeyaml do not really play nice together. Template expressions are foreign
        objects to snakeyaml so most of the time we treat contents of Helm Chart files just as strings we split by line.
    </div>
</div>
</body>
</html>
