<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">

<div th:fragment="first-form">
    <div class="row">
        <div class="col-12 text-center" id="main">
            <div style="font-size: 1.2em;margin-bottom: 1em;">First upload a Spring/Quarkus Build File</div>
            <div id="upload-btn" class="button" onclick="document.getElementById('upload-input').click()" th:if="${helmContext == null}" >
                <div>
                    <img src="/icons/gradle.svg" height="200" width="200" style="padding: 1em 2.5em 1em 0.5em; border-right: 1px inset">
                    <img src="/icons/maven-svgrepo-com.svg" height="200" width="200" style="padding: 1em"/>
                </div>
                <div style="padding: 1em;">
                    Or just paste a shared Spring Initializr Link anywhere on here
                </div>
            </div>
        </div>
    </div>
</div>
<div th:fragment="second-form">
    <div class="row">
        <div class="col-12 text-center">
            <div style="font-size: 1.2em;">App Summary</div>
        </div>
        <div class="col-12" th:if="${helmContext != null}">
            <div>
                <div>
                    This is a <span class="bold">Maven</span> based Application called
                    <span class="bold" th:text="${helmContext.appName}"></span>
                </div>
                <div>
                    in Version
                    <span class="bold" th:text="${helmContext.appVersion}"></span>
                </div>
                <div>
                    built with
                    <span class="bold" th:text="${helmContext.frameworkVendor}"></span>
                </div>
                <div th:if="${helmContext.createIngress}">
                    <span >
                        and should be exposed through an <span class="bold">Ingress</span>
                    </span>.
                </div>
                <div th:if="${helmContext.dependencyNames.size() > 0}">
                    <span>
                        It depends on
                        <span th:each="d,iter : ${helmContext.dependencyNames}">
                            <span class="bold" th:text="${d.name}"></span>
                            <span th:if="${iter.last == false}">, </span>
                        </span>
                    </span>
                </div>
            </div>
            <div style="margin-top: 1em;" th:if="${helmContext != null}" th:insert="~{fragments :: customization-input-form}"></div>
        </div>
    </div>
</div>

<div th:fragment="customization-input-form">
    <form id="dockerImageForm"
          hx-post="/customize"
          hx-ext="json-enc"
          hx-target="#outlet"
    >
        <div th:if="${helmContext.customized == false}" class="text-error" style="font-size: 1.2em;">Inputs required:</div>
        <div th:if="${helmContext.customized == true}" class="text-success" style="font-size: 1.2em;">Inputs provided:</div>
        <div style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
            <h5>Docker Image Coordinates</h5>
            <div style="width: 300px;">
                <label for="imageUrl">Docker Image Repository URL</label>
                <input type="text"
                       th:value="${helmContext.appName}"
                       th:disabled="${helmContext.customized == true}"
                       th:styleappend="${helmContext.customized == true ? 'color: white' : ''}"
                       name="dockerImageRepositoryUrl"
                       size="30"
                       id="imageUrl">
            </div>
            <div style="margin-top: 1em; width: 300px;">
                <label for="imageTag">Docker Image Tag</label>
                <input id="imageTag" th:value="${helmContext.appVersion}" name="dockerImageTag"
                       th:disabled="${helmContext.customized == true}"
                       th:styleappend="${helmContext.customized == true ? 'color: white' : ''}"
                       size="30"
                       type="text">
            </div>
            <div style="margin-top: 1em; width: 300px;">
                <label for="imagePullSecret">Docker Image Pull Secret (optional)</label>
                <input id="imagePullSecret" th:value="''" name="dockerImagePullSecret"
                       th:disabled="${helmContext.customized == true}"
                       th:styleappend="${helmContext.customized == true ? 'color: white' : ''}"
                       size="30"
                       type="text">
                <input style="display: none;" id="helmContext" name="helmContext" th:value="${helmContext}"
                       th:if="${helmContext.customized == false}"
                >
            </div>
        </div>

        <div style="padding: 2em; text-align: center; font-size: 1.5em">
            <button style="font-size: 2em;"
                    th:disabled="${helmContext.customized == true}"
                    type="submit"
                    class="button"
                    th:classappend="${helmContext.customized == true ? 'primary outline' : 'primary'}"
            >
                <span th:text="${helmContext.customized ? 'Submitted' : 'Submit'}"></span>
            </button>
        </div>
    </form>
</div>

<div th:fragment="third-form">
    <div class="row">
        <div class="col-12 text-center">
            <div style="font-size: 1.2em;" class="text-primary">Your Helm Chart is ready to download</div>
        </div>
    </div>
    <div class="col-12">
        <div th:if="${helmContext != null}" style="text-align: center">
            <script lang="text/javascript">
                 function handleDlClick () {
                     let el = document.getElementById('notification-text');
                     el.textContent = 'Returning to start screen in 30 seconds';
                     el.setAttribute("class", "text-dark");
                     setTimeout(function(){window.location.href = '/'}, 30000)
                }
            </script>
            <div
                    onclick="handleDlClick()"
                    th:if="${helmContext.zipLink != null}"
                    class="primary button helm-dl-btn"
                    th:text="'Download '+${helmContext.zipLink}"
                    hx-trigger="click"
                    hx-ext="json-enc"
                    th:attrappend="hx-vars='helmContext: '+${helmContext}"
                    th:attr="hx-post='/download/'+ ${helmContext.zipLink}"
            >
            </div>
            <div style="margin-top: 2.5em; opacity: 0.5">
                You may want to further customize your Helm Chart by editing values.yaml
            </div>
        </div>
    </div>
</div>
</html>
