<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Helm Start: Generate Helmchart for your App</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" href="https://unpkg.com/chota">

    <script type="text/javascript" th:src="@{/webjars/htmx.org/dist/htmx.js}"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/json-enc.js"></script>
    <script src="/components/navbar.js"></script>
    <link rel="stylesheet" href="/main.css"/>

</head>
<body>
<header>
    <div class="row">
        <navbar-component  class="col-12"></navbar-component>
    </div>
</header>
<main>
    <div class="row" hx-boost="true">
        <div class="col-12 text-center">
            <div>
                Helping you get to production faster =) <a href="/about">Tell me more ..</a>
            </div>
        </div>
        <div class="col-12">
            <div id="outlet" style="margin-top: 2em" class="col-12" th:insert="~{fragments :: first-form}"></div>
            <form id="form"
                  hx-encoding="multipart/form-data"
                  hx-post="/upload-file"
                  hx-target="#main"
                  method="post">
                <input id="upload-input"
                       type="file"
                       name="file"
                       class="form-control-file"
                       style="display: none;"
                       onchange="this.form.requestSubmit()"
                >
            </form>
            <form id="springInitializrForm">
                <label>
                    <input id="springInitializrLink"
                           hx-trigger="keyup changed"
                           hx-post="/spring-initializr-link"
                           hx-ext="json-enc"
                           hx-target="#main"
                           name="springInitializrLink"
                           style="display: none;"
                           type="text"
                    />
                </label>
            </form>
        </div>
    </div>
</main>
<footer>
    <div class="row" id="footer" style="padding-top: 0.5em; background-color: #333">
        <div class="col-2 text-left" style="padding-top: 0.5em; padding-bottom: 0.5em">
            <span id="notification-text"></span>
        </div>
        <div class="col-8 text-center" style="padding: 0.5em;">
            Supported Technologies: Spring, Quarkus, Maven, Gradle,
            <span th:each="name,iter : ${supportedDependencies}">
                            <span th:text="${name}"></span>
                            <span th:if="${name != '' && iter.last == false}">, </span>
                        </span>
        </div>
        <div class="col-2"></div>
        <div class="col-12" style="border-bottom: 0.1rem solid #d1d1d1;"></div>
        <div class="col-4 text-left" style="padding-top: 0.5em;">
            Charts generated: <span th:text="${chartsGenerated}"></span>
        </div>
        <div class="col-4" style="padding-top: 0.5em;">
            <i>Did you know:</i> You can use <a href="https://helmify.me/spring">helmify.me/spring</a> as a
            Spring Initializr URL in your IDE.
        </div>
        <div class="col-4 text-right" style="padding-top: 0.5em;">
            <div>
                Version: <span th:text="${buildInfo.version}"></span> / Id: <span th:text="${buildInfo.id}"></span>
            </div>
        </div>
    </div>
</footer>

<script lang="text/javascript">
    document.onpaste = function (event) {
        var items = (event.clipboardData || event.originalEvent.clipboardData).items;
        for (index in items) {
            var item = items[index];
            if (item.kind === 'string') {
                item.getAsString(function (string) {
                    if (string.startsWith('https://start.spring.io/')) {
                        let notificationText = document.getElementById('notification-text');
                        notificationText.textContent = '✓ Spring Initializr Link received';
                        notificationText.setAttribute("class", "text-success");
                        setTimeout(function () {
                            notificationText.textContent = '';
                        }, 2000);
                        setTimeout(function () {
                            document.getElementById('springInitializrLink').value = string;
                            document.getElementById('springInitializrLink').dispatchEvent(new Event('keyup'));
                        }, 200);
                    }
                })
            }
        }
    }
</script>
<div style="display: none;position:absolute;bottom: 10px;right: 310px;">
    Built at: <span th:text="${#dates.format(buildInfo.date, 'dd.MM.yyyy HH:mm:ss')}"></span>
</div>
</body>
</html>
